@import '../utilities/variables';

.calendar {
  display: flex;
  padding: $calendar-paddings;
  place-content: flex-start;
  width: $calendar-width;
  gap: $day-gap;
  flex-wrap: wrap;

  &__day {
    justify-content: center;
    text-align: center;
    width: $calendar-day-width;
    height: $calendar-day-height;
    background-color: #eee;
    border: $border-size solid #000;
    box-sizing: border-box;
    transition: transform 0.5s;

    &:hover {
      transform: translateY(-20px);
      background-color: #ffbfcb;
      cursor: pointer;
    }
  }
}
