@import '../utilities/variables';

@mixin date-font() {
  font-family: Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: #{$calendar-day-height - $border-size};
  color: #000;
  display: block;
}
